---
// Footer.astro
---
<footer class="footer">
  <div class="waves">
    <div class="wave" id="wave"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <div class="row">
    <div class="col">
        <ul>
            <li>
                <div class="logo">
                    <img src="/images/logo.png" alt="8Reves Logo" />
            </li>
        </ul>
        
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
      <h2>8Reves</h2>
      <p>Explora el mundo de la fantasía y la aventura con nosotros.</p>
  </div>
  
  
</footer>
